@model StockDashboardWeb.Models.CompanyOverviewDto
<!-- Display company details -->
<h2>@Model.Name</h2>
<p>@Model.Description</p>
<form asp-action="savecompany" method="post">
    @Html.HiddenFor(model => model.Symbol)
    @Html.HiddenFor(model => model.Name)
    @Html.HiddenFor(model => model.Description)
    <button type="submit">Save to Database</button>
</form>
