@* @page
@model StockDashboardWeb.Models.CompanyOverviewed
@{
}

<h1>Top Gainers and Losers</h1>

<table class="table">
    <thead>
        <tr>
            <th>Symbol</th>
            <th>Name</th>
            <th>Price</th>
            <th>Change</th>
            <th>Percent Change</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td><strong>Symbol:</strong> @Model.Symbol<br /></td>
                <td><strong>Name:</strong> @Model.Name<br /></td>
                <td><strong>Exchange:</strong> @Model.Exchange<br /></td>
                <td><strong>Sector:</strong> @Model.Sector<br /></td>
                <td><strong>Industry:</strong> @Model.Industry<br /></td>
                <td><strong>PERatio:</strong> @Model.PERatio<br /></td>
                <td><strong>EPS:</strong> @Model.EPS<br /></td>
                <td><strong>DividendYield:</strong> @Model.DividendYield<br /></td>
                <td><strong>ProfitMargin:</strong> @Model.ProfitMargin<br /></td>
                <td><strong>Beta:</strong> @Model.Beta<br /></td>
                <td><strong>Description:</strong> @Model.Description<br /></td>
                <form asp-action="SaveToDb" method="post">
                    <button type="submit">Save to DB</button>
                </form>
            </tr>
        }
    </tbody>
</table>
 *@