@model IEnumerable<StockDashboardWeb.Models.WinLose>

<!DOCTYPE html>
<html>
<head>
    <title>Win Lose Index</title>
</head>
<body>
    <h1>Win Lose List</h1>

    <table border="1">
        <thead>
            <tr>
                <th>Id</th>
                <th>Ticker</th>
                <th>Price</th>
                <th>Change Amount</th>
                <th>Change Percentage</th>
                <th>Volume</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Ticker</td>
                    <td>@item.Price</td>
                    <td>@item.Change_amount</td>
                    <td>@item.Change_percentage</td>
                    <td>@item.Volume</td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
